{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title_html %}
    Liste d'appels
{% endblock %}
{% block content %}
    <a class="btn btn-primary btn-block" href="{% url 'calls:new_call' %}" role="button">Nouvel appel</a>

    <h2>Liste d'appels</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Appel</th>
                <th scope="col">Client</th>
                <th scope="col">
                    Résolu
                </th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for call in calls %}
            <tr>
                <th scope="row">{{ call }}</th>
                <td>{{ call.customer }}</td>
                <td>
                    {% if call.solved %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                {% if request.user.user_type == 1 or request.user.user_type == 2 and not call.solved %}
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:call_edit' call.id %}">Modifier</a>
                </td>
                {% else %}
                <td>
                </td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:call_delete' call.id %}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
